In [67]:
import numpy as np
import pandas as pd
import random

In [68]:
my_df = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=list('ABCD'))

In [69]:
my_df

    A   B   C   D
0  88  10  57   5
1  23  99  48  65
2  78  95  55  45
3  42  42  56  25
4  38  26  55   7
5  51  48  74  47
6  86  69  72  84
7  27  56  91  93
8   3  44  74  35
9  93  51  46  84

Correlation Coefficient
$$
r = \frac{n \sum xy - \sum x \sum y}{\sqrt{ \left( n \sum x^2 - (\sum x)^2 \right) \left( n \sum y^2 - (\sum y)^2 \right) }}
$$

In [89]:
#adjust code to include multiindex with prior column name and x/y

try:
    x = input('Please enter the x Series.')
    y = input('Please enter the y Series.')
    
    new_df = pd.DataFrame({
    'x' : my_df[x],
    'y' : my_df[y]
    })

    new_df.columns = pd.MultiIndex.from_tuples([('x',f'({x})'),('y',f'({y})')])
    
    if my_df[x] is my_df[y]:
        print('---Memory Reference Identical: Only one Series has been selected.---')

except KeyError:
    print('Please enter a series name exactly')

Please enter the x Series. A
Please enter the y Series. B

In [62]:
#new_df=pd.DataFrame([x,y]).T lists will Transpose, use a dictionary to retain series structure

In [90]:
new_df

    x   y
  (A) (B)
0  88  10
1  23  99
2  78  95
3  42  42
4  38  26
5  51  48
6  86  69
7  27  56
8   3  44
9  93  51

In [87]:
n = my_df.iloc[:,0].count()

In [88]:
n

10